.movie-container{
    display: flex;
    gap: 10px;
    height: 100px;
    cursor: pointer;
    /* padding: 20px; */
}
.movie-container:hover{
    background-color: #252D31;
}
.movie-container img{
    width: 40px;
    height: 60px;
}